@model EXUI_Leyva.Models.ClsLogin
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <center>
            <h2>Login</h2>

            <div class="card">
                <div class="card-body">
                    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                    {
                        <div>
                            <label>Usuario: </label>
                            @Html.TextBoxFor(m => m.Usuario)
                        </div>
                        <br />
                        <br />
                        <div>
                            <label>Contraseña: </label>
                            @Html.TextBoxFor(m => m.Clave)
                        </div>
                        <br />
                        <br />

                        <div>
                            <button type="submit">Ingresar</button>
                        </div>

                        if (ViewBag.Mensaje != null)
                        {
                            <p>@ViewBag.Mensaje</p>
                        }
                    }
                </div>
            </div>
        </center>
    </div>
</body>
</html>